* {
  box-sizing: border-box;
}

article
  {
    float: left;
    padding:30px;
    width:100%;
    background-color:#b8c8aa;
    border:3px;
    border-color:black;
    border-style:dotted;
    border-radius: 10px;
  }


body {
  font-family: Arial,Helvetica, sans-serif;
}

header {
  background-color: #666;
  padding:30px;
  text-align:center;
  font-size:35px;
  color:white; }

section:after {
  content:close-quote;
  display:table;
  clear:both;
}

footer {
  background-color:#777;
  padding:10px;
  text-align:center;
  color:white;
}

@media (max-width:600px) {
  nav,article {
    width:100%
    height:auto;
  }
}

ul {
  list-style-type: none;
}
nav li {
  display:inline-block;
  font-family:monospace;
  font-size:30px;

}

nav {
  text-align:center;
  background-color:#8f9d7f;
  float:left;
  width:100%;

  }

  li a {
    display:block;
    color:black;
    text-align:center;
    padding-left: 20px;
    }

  li a:hover {
    background-color:#D3D3D3;
  }

  ol {
    text-align:center;
    list-style-type: none;
      }

  img {
    width:100%;
  }

  h2 {
    text-align:center;
  }
