/*--------------------
  NAVIGATION BAR
--------------------*/
.navbar {
  background-color: rgba(32, 35, 41, 0.8);
}

/*--------------------
  JUMBOTRON
--------------------*/
.jumbotron {
  background-image: url('../images/fruit-and-veg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  min-height: 600px;
  padding-top: 100px;
}

.jumbotron h1 {
  font-family: 'Vast Shadow', cursive;
  color: white;
}

/*--------------------
  FORM
--------------------*/
.form-inline label {
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 100%;
  justify-content: flex-start;
}

.form-inline input {
  min-width: 300px;
  margin-right: 10px;
}

/*--------------------
 		MEDIA QUERIES
--------------------*/
@media screen and (max-width: 575px) {
  .jumbotron h1 {
    font-size: 2.5rem;
  }

  .form-inline .btn {
    margin-top: 10px;
  }
}

/*--------------------
  TYPOGRAPHY
--------------------*/
h2 {
  margin-bottom: 50px;
}

blockquote p {
  line-height: 1.2;
}

.blockquote-footer {
  font-size: 70%;
}

/*--------------------
  	BUZZ
--------------------*/
#buzz {
  padding: 50px 0;
}

/*--------------------
  MISSION STATEMENT
--------------------*/
#mission {
  background-color: rgba(32, 35, 41, 0.9);
  color: #ddd;
  padding: 50px 0;
}

/*--------------------
  SOCIAL MEDIA BUTTONS
--------------------*/
#social-buttons .btn-primary {
  border: none;
}

.btn-twitter {
  background-color: #1da1f2;
}

.btn-twitter:hover {
  background-color: #60BDF6;
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-facebook:hover {
  background-color: #768BB7;
}

.btn-pinterest {
  background-color: #bd081c;
}

.btn-pinterest:hover {
  background-color: #D15260;
}

/*--------------------
  FOOTER
--------------------*/
#colophon {
  padding: 50px 0;
}

#colophon p {
  font-size: 80%;
  color: grey;
}

#colophon a {
  color: grey;
  text-decoration: underline;
}
